body {
    background-color: #cbff6a;
    font-size: 100%;
}
h1 {
    font-size: 200%;
    text-align: center;
    font-size:3vw;
}
p {
    font-size: 1.5vw;
    padding-left: 80px;
    padding-right: 80px
}
h3 {
    font-size: 1.9vw;
    text-align: center;
}
footer {
    text-align: center;
    color: #000000;
    font-size:; 
}
.spf {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
    font-size: 50px;
    padding-right: 5%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0px
}

li a:hover:not(.active) {
    background-color: #3f4a2b;
}

.active {
    background-color: #084a0b;
}


.special {
    padding: 0px, 0px, 0px, 0px;
    
    margin: 0px;
}
.bannerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%vw;
    
}
.titleText {
    margin: 10;
    padding: 20px;
    color: #ffffff;
}
