body {
  background-image: url("ch_flag.gif");
  background-repeat: repeat-x;
}

h1 {
    font-size: 200%;
    text-align: center;
    font-size:3vw;
}
p {
    font-size: 1.5vw
}
h3 {
    font-size: 1.9vw;
    text-align: center;
}
footer {
    text-align: center;
    color: #bc1313;
    font-size:  
}
